body {
			width: 960px;
			margin: 2em auto;
			font-family: Arial, sans-serif;
			font-size: 16px;
			line-height: 1.4;
		}

		h1 {
			font-size: 2em;
			font-weight: normal;
			margin: 0 0 1rem 0;
		}
		section {
			padding: 2rem;
			border: 1px solid #ccc;
			margin: 4rem 0;
			background-color: #fff;
		}

		aside {
			font-size: 24px;
			font-family: Georgia, Serif;
			font-style: italic;
			background-color: #aaa;
			color: #fff;
			padding: 1.5rem;
			width: 15rem;

		}

		.asideone {
			float: right;
		}

		.asidetwo {
			bottom: 0;
			right: 0;
			position: absolute;
		}

		.asidethree {
			background-color: green;
			top: 0;
			right: 0;
			position: fixed;
		}

		.asidefour {
			background-color: red;
			position: absolute;
			z-index: 5;
			top: 200px;
			left: 300px;
		}

		.asidefive {
			background-color: black;
			position: absolute;
			top: 210px;
			left: 310px;
		}

		.sectiontwo {
			position: relative;
		}

		.sectionfour {
			position: relative;
		}











