body {
	font-family: 'Archivo Narrow', sans-serif;
}
h1 {
	margin: 0 0 0 0;
	font-size: 80px;
}
h2 {
	font-size: 30px;
	margin: 0;
}

h3 {
	margin: 0 0 37px 0;
	text-align: center;
	font-size: 40px;
}

h5 {
	margin: 0 0 37px 0;
	text-align: center;
	font-size: 40px;
}

section.section_three {
	background-color: rgba(255,255,0,1); 
}

section.section_three {
	background-color: rgba(255,255,0,1);
	border: none;
	background-position: center center;
	padding: 0;
	margin-top: 2px;

}

.section_three p {
	font-size: 25px;
	text-align: center;
	font-weight: 600;
	width: 73%;
	margin: auto;
	margin-bottom: 60px;
	line-height: 35px;
	letter-spacing: -.35px;
}

p{
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -.4px;
	line-height: 25px;
}
header {
	background-color: rgba(255,0,0,0);
	text-align: center;
	padding: 150px 0 185px 0;
	background-image: url("../images/mountains.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

section > div {
	width: 960px;
	
	margin: auto;
	padding: 32px 0 40px 0;

}

section.section_one {
	background-color: rgba(0,255,255,1);
	padding: 0;
	margin: 0;



}


.section_one p {
	font-size: 18px;
}
.section_one img{
	float: right;
	width: 400px;
	height: 300px;
	margin: 0 0 20px 36px;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

section.section_two {
	background-color: rgba(255,0,255,1);
}

li {
	width: 50%;
	height: 174px;
	/*background-color: rgba(255,0,255,1);*/
	padding-right: 25px;
	box-sizing: border-box;
	display: inline-block;
}


li img {
	height: 150px;
	width: 200px;
	float: left;
	margin-right: 12px;
}

h4 {
	font-size: 20px;
	line-height: 1.1;
	margin: 0;
	margin-bottom: 8px;
}

li p {
	margin: 0;
}

section.footer {
	background-color: rgba(255,0,0,1);
}

footer {
	padding: 40px 0 40px 0;
	width: 960px;
	margin: auto;
	box-sizing: border-box;
	border-top: none;
	border-bottom: none;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -.4px;
	
}



























