html{
	font-size: 18px;
	font-family: 'Crimson Text', serif;
}
.weight{
	font-weight: bold;
}
.style{
	font-style: oblique;
}
.letter-spacing{
	letter-spacing: 2px;
}
.text-transform{
	text-transform: uppercase;
}
.text-decoration{
	text-decoration: underline;
}
.header{
	font-size: 2em;
	font-weight: bold;
	color: red;
}
.explanation{
	font-style: italic;
}
.striped-border {
        border: 1px dashed #000;
        width: 50%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
}
hr { background-color: red; height: 3px; border: 0; }