body,html {
	margin:0;
	height:100%;
	font-family: "aniron";
	color:white;
}

a {
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	bottom:0;
	z-index:10;
}




div.index {
	background-image: url("../images/rachel.jpg");
	height:100%;
	background-repeat:no-repeat;
	background-size:cover;
	margin:0;
}
h1.index {
	position:absolute;
	top:13%;
	right:67%;
	left:5%;
	font-size:30pt;
}

div.postcard2 {
	background-image:url("../images/chandler.jpeg");
	height:100%;
	background-repeat:no-repeat;
	background-size:cover;
	margin:0;
}
div {
	font-size:15pt;
}

h1.postcard2 {
	font-size:20pt;
	position:absolute;
	top:2%;
	left:3%;
	right:30%;
}

div.postcard3 {
	background-image:url("../images/phoebe.jpg");
	height:100%;
	background-repeat:no-repeat;
	background-size:cover;
	margin:0;
	
}

h1.postcard3 {
	font-size:20pt;
	position:absolute;
	top:35%;
	left:3%;
	right:65%;
}

@media (max-width:800px) {

		div.postcard2 {
		background-image:url("../images/chandler.jpeg");
		height:100%;
		background-repeat:no-repeat;
		background-size:cover;
		margin-top:0;
	}

	h1.postcard2 {
		position:absolute;
		top:2%;
		left:3%;
		margin:10px;
	}

	h1.postcard3 {
		font-size:17pt;
		position:absolute;
		top:55%;
		right:20%;
		left:3%;
		margin:10px;
	}
	@media (min-width:1400px) {
		h1.postcard2 {
	right:50%;
}

	}

@media (max-width:1000px) {

	div {
		font-size:14pt;
	}

	div.index {
		background-image:url("../images/rachelm.jpg");
		height:100%;
		background-repeat:no-repeat;
		background-size:cover;
		margin-top:0;
	}

	h1.index {
		font-size:18pt;
		position:absolute;
		top:80%;
		left:3%;
		right:3%;
		margin:10px;
	}

		div.postcard2 {
		background-image:url("../images/chandlerm.jpg");
		height:100%;
		background-repeat:no-repeat;
		background-size:cover;
		margin-top:0;
	}

	h1.postcard2 {
		font-size:17pt;
		position:absolute;
		top:1%;
		right:35%;
		left:3%;
		margin:10px;
	}


	div.postcard3 {
		background-image:url("../images/phoebem.jpg");
		height:100%;
		background-repeat:no-repeat;
		background-size:cover;
		margin-top:0;
		color:white;
	}

		h1.postcard3 {
		font-size:17pt;
		position:absolute;
		top:50%;
		right:25%;
		left:3%;
		bottom:5%;
		margin:10px;
	}